

body
{
	max-width: 30em;
background: #fff;
border: 4px solid #BDC3C7;
box-shadow: 0 0 10px #ddd;
position: relative;
}
#menu
{
	background-color:#34495E; 
color:black;
height: 25px;
padding-top: 10px;
}

div p
  {
  	border: 0.1px solid black;
  	color: white;
  	font-weight: bold;
  	height: 30px;
  	background:green;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  div p a
  {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
  }
  
div ul
  {

    list-style: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;

  }
  


div li a 
  { 
    font-weight: bold;
    float: left;
    font-size: 1em;
    display: block;
    color:black;
    background: #fff;
   
    border: 1px solid black;
    padding:0.5em 0;
    text-decoration: none;
    width: 100%;
    height: auto;
  }

  footer
  {
    font-weight: bold;

  }
  

 

  
	
#overlay 
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height:100%;
background: #000;
opacity: 0.8;
display: none;
}
#dialog
{
position: absolute;
top: 20%;
left: 23%;
width: 50%;
height:auto;
background: #fff;
border:4px solid #ccc;
display: none;

}
#dialog h2
{
margin:0;
padding:8px;
background: #ddd;
font-size:20px;
}
#dialog h2 span
{
display: block;
float: right;
padding: 0 5px;
color: #c22;
cursor: pointer;
font-weight: bold;
font-size: 30px;
}

#dialong form
{
padding:50px;
}


input[type=button]
{
padding: 6px;
width:100%;
font-weight: bold;
}
